/*CSS Reset*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

html {
	height: 100vh;
}

/*Body Font*/

body {
	font-family: "Open Sans", sans-serif;
}

/*Navigation*/

nav {
	background-color: white;
	padding: 7px;
	list-style-type: none;
	position: sticky;
	top: 0px;
}

li {
	padding: 0.8rem;
	display: inline-block;
	list-style-type: none;
	text-align: right;
/*	position: sticky;*/
}

.right-nav {
	float: right;
}

/*Tuitt Button*/

.tuitt-button {
	color: white;
	background-color: #c2195b;
	border: none;
	border-radius: 150px;
	padding: 0.8rem;
	width: 120px;
}

/*Background Image*/

#bg-image {
	min-height: 45vh;
	background-image: url( https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center bottom;
	background-attachment: fixed;
}

.front-bg {
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 45vh;
}

/*Font*/

.container {
	display: inline-block;
	float: right;
	width: 500px;
	height: 100px;
	color: white; 
	text-align: right;
	position: static;
	margin-right: 5rem;
}

.title {
	font-family: Zilla Slab;
	font-size: 2em;
	text-align: right;
	color: white;
	margin-bottom: 1em; 
}

.subtitle {
	font-size: 1em;
	margin-bottom: 0.8em;
}


.intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
/*	margin-top: 2rem;*/
	text-align: center;
}

.title-2 {
	display: inline-block;
	font-family: Zilla Slab;
	font-size: 32px;
	text-align: center;
	margin-top: 3rem;
	margin-bottom: 2rem;
}

.intro-description {
	text-align: justify;
}
/*Apply Button*/

.apply-button {
	color: white;
	background-color: #c2195b;
	border: none;
	border-radius: 400px;
	padding: 1rem;
	width: 150px;
}

/*Book Button*/
.book-button {
	color: white;
	background-color: #336589;
	border: none;
	border-radius: 400px;
	padding: 1rem;
	width: 150px;
}

.pre-footer {
	background-color: #f7fbfb;
	height: 50vh;
	text-align: center;
	vertical-align: center;
}



.prefooter-description {
	margin-left: 5rem;
	margin-right: 5rem;
	margin-bottom: 1rem;
}

footer {
	text-align: center;
	margin-top: 0.8rem;
}